In [1]:
import pandas as pd

data = {
    'team': ['NU', 'UP', 'UST', 'DLSU', 'ADMU', 'ADU', 'FEU', 'UE'],
    'wins': [11, 9, 7, 6, 5, 6, 5, 0],
    'losses': [2, 3, 5, 6, 7, 7, 7, 13],
    'games_played': [13, 12, 12, 12, 12, 13, 12, 13]
}

df = pd.DataFrame(data, columns=['team', 'wins', 'losses', 'games_played'])
df['win_percentage'] = (df['wins'] / df['games_played']*100).round(2)
df['remaining_games'] = 14 - df['games_played']
df.sort_values(by='wins', ascending=False, inplace=True)
df = df.set_index('team')
display(df)

      wins  losses  games_played  win_percentage  remaining_games
team
NU      11       2            13           84.62                1
UP       9       3            12           75.00                2
UST      7       5            12           58.33                2
DLSU     6       6            12           50.00                2
ADU      6       7            13           46.15                1
ADMU     5       7            12           41.67                2
FEU      5       7            12           41.67                2
UE       0      13            13            0.00                1